[Unit]
Description=SPIRE Controller Manager Daemon %i
PartOf=spire-server.target
After=network-online.target local-fs.target time-sync.target
Before=remote-fs-pre.target
Wants=network-online.target local-fs.target time-sync.target remote-fs-pre.target spire-server.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/spire/controller-manager/%i
StateDirectory=spire/controller-manager/%i
RuntimeDirectory=spire/controller-manager/sockets/%i
RuntimeDirectoryPreserve=true
ConfigurationDirectory=spire/controller-manager
EnvironmentFile=-/etc/spiffe/default-trust-domain.env
EnvironmentFile=-/etc/spiffe/server/default.env
EnvironmentFile=-/etc/spire/server/%i.env
EnvironmentFile=-/etc/spire/server/%i/env
EnvironmentFile=-/etc/spire/controller-manager/%i.env
EnvironmentFile=-/etc/spire/server/%i/controller-manager.env
Environment=SYSTEMD_INSTANCE=%i
ExecStart=/usr/libexec/spire/controller-manager/start.sh
# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=false
# Needed by plugins
PrivateTmp=false
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
TasksMax=infinity

[Install]
WantedBy=spire-server.target
