[Unit]
Description=SPIRE Agent Daemon %i
PartOf=spire-agent.target
After=network-online.target local-fs.target time-sync.target
Before=remote-fs-pre.target spire-agent.target
Wants=network-online.target local-fs.target time-sync.target remote-fs-pre.target spire-agent.target

[Service]
WorkingDirectory=/var/lib/spire/agent/%i
StateDirectory=spire/agent/%i
RuntimeDirectory=spire/agent/sockets/%i
RuntimeDirectoryPreserve=true
ConfigurationDirectory=spire/agent
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/bin/spire-agent run -config /etc/spire/agent/%i.conf -dataDir /var/lib/spire/agent/%i -socketPath /run/spire/agent/sockets/%i/public/api.sock -expandEnv
ExecStartPre=mkdir -p /var/lib/spire/agent/%i /run/spire/agent/%i/public
# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=false
# Needed by plugins
PrivateTmp=false
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
ReadWritePaths=/var/lib/spire/agent /run/spire/agent
Restart=on-failure
RestartSec=15
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
StartLimitBurst=3
StartLimitInterval=30min
TasksMax=infinity

[Install]
WantedBy=spire-agent.target
