[Unit]
Description=SPIRE Agent target allowing to start/stop all spire-agent@.service instances at once
PartOf=spire.target
Before=spire.target
Wants=spire.target

[Install]
WantedBy=multi-user.target spire.target
