# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
.build*
.cache
.data
.glide
.tmp
*.swp
*.log

# Travis CI encrypted files decryption paths
.travis/spire-travis-ci.json

# Editor specific configuration
.idea
.vscode
