[Unit]
Description=SPIFFE step-ca SSH Helper %i
After=network-online.target local-fs.target time-sync.target
Wants=network-online.target local-fs.target time-sync.target spire-agent.target

[Service]
Environment="SPIRE_AGENT_ADDRESS=/var/run/spire/agent/sockets/%i/public/api.sock"
Environment="SPIFFE_STEP_SSH_INSTANCE=%i"
EnvironmentFile=-/etc/spiffe/step-ssh/%i.conf
ExecStart=spiffe-helper -config /var/run/spiffe/step-ssh/%i/helper.conf
ExecStartPre=mkdir -p /var/run/spiffe/step-ssh/%i
ExecStartPre=chmod 700 /var/run/spiffe/step-ssh/%i
ExecStartPre=/bin/bash -c "echo Y21kID0gImJhc2giCmNtZF9hcmdzID0gIi91c3IvbGliZXhlYy9zcGlmZmUtc3RlcC1zc2gvdXBkYXRlLnNoIgpjZXJ0X2RpciA9ICJAQ0RAIgpzdmlkX2ZpbGVfbmFtZSA9ICJ0bHMuY3J0IgpzdmlkX2tleV9maWxlX25hbWUgPSAidGxzLmtleSIKc3ZpZF9idW5kbGVfZmlsZV9uYW1lID0gInNwaWZmZS1jYS5wZW0iCg== | base64 -d > /var/run/spiffe/step-ssh/%i/helper.conf"
ExecStartPre=/bin/sed -i "s^@CD@^/var/run/spiffe/step-ssh/%i^" /var/run/spiffe/step-ssh/%i/helper.conf

[Install]
WantedBy=multi-user.target
